body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
  padding: 0 1rem;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.loader-custom {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 50%!important; */
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

span .badge {
  color: #fff !important;
}

.badge span {
  color: #fff !important;
}

.badge-custom {
  min-width: 4rem;
  padding: 0 6px;
  text-align: center;
  font-size: 1rem;
  line-height: 25px;
  height: 25px;
  color: #fff;
  float: right;
  box-sizing: border-box;
  border-radius: 10%;
}

.badge-custom .green {
  background-color: green;
}

.badge-custom .orange {
  background-color: orange;
}

.card-image {
  background-color: #303030;
}

.card {
  transition: all ease 2s;
}

.card:hover {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 50%), 0 3px 1px -2px rgba(0, 0, 0, 0.5), 0 1px 5px 0 rgb(0 0 0 / 50%);
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 10px;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  padding: 1rem;
  transition: background .1s;
  background-color: #03a9f4;
  color: #fff;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

.cart:hover {
  background-color: #0391d3;
}


.hover-custom {
  transition: background .1s;
}

.hover-custom:hover {
  background-color: #d5fcf8 !important;
}



.hover-plus-minus:hover {
  background-color: #ccc;
}

.basket-item-img {
  width: auto;
  height: 45px;
}

@media (min-width: 576px) {
  .basket-item-img {
    height: 95px;
  }
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 3%;
  z-index: 5;
  cursor: pointer;
}

.close-btn>i {
  transition: color .15s;
  pointer-events: none;
}

.close-btn:hover>i {
  color: red;
}

@keyframes show {
  from {
    bottom: 70%;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.hover-remove-custom {
  transition: color .15s;
  cursor: pointer;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .hover-remove-custom {
    font-size: 2rem;
  }
}

.hover-remove-custom:hover {
  color: red;
}

.hover-inc-custom {
  transition: background .15s;
  cursor: pointer;
  border: '1px solid #ccc';
  font-size: 1rem;
  margin-right: 3px;
}

@media (min-width: 768px) {
  .hover-inc-custom {
    font-size: 2rem;
  }
}

.hover-inc-custom:hover {
  background-color: green;
}

.hover-dec-custom {
  border: '1px solid #ccc';
  transition: background .15s;
  cursor: pointer;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .hover-dec-custom {
    font-size: 2rem;
  }
}

.hover-dec-custom:hover {
  background-color: red;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.basket-item-name {
  font-size: 0.8rem;
}

@media (min-width: 576px) {
  .basket-item-name {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .basket-item-name {
    font-size: 1.5rem;
  }
}

.basket-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
  animation: show 300ms ease-in-out;
}

.basket-wrapper {
  padding: 0.5rem;
  width: 95%;
  border-radius: 5px;
  background-color: #fff;
  margin: 3rem auto 3rem auto;
}

@media (min-width: 768px) {
  .basket-wrapper {
    width: 75%;
  }
}

@media (min-width: 960px) {
  .basket-wrapper {
    width: 85%;
  }
}

td>* {
  vertical-align: middle;
}

#toast-container {
  animation: trans 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  #toast-container {
    bottom: 6% !important;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 5% !important;
    right: 10% !important;
  }
}

@keyframes trans {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}